.Superpowers {
  max-width: 1240px;
  padding: 0 20px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Proxima Nova';

  &__title {
    font-size: 42px;
    margin-bottom: 80px;
  }

  &__list {
    max-width: 100%;
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    justify-content: center;
    &:last-child {
      margin-right: 0;
    }

    img {
      margin: 0;
      padding: 0;
    }

    p {
      font-size: 22px;
    }
  }
}

@media screen and (max-width: 800px) {
  .Superpowers {
    margin: 50px auto 40px auto;
    
    &__title {
      margin-bottom: 60px;
      text-align: center;
      font-size: 35px;
    }

    &__list {
      flex-direction: column;
      text-align: center;
    }

    &__item {
      margin: 0 0 40px 0;
    }
  }
}