
.landing-banner {
  min-height: 648px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  &__title {
    margin: 0;
    color: #fff;
    font-family: 'Proxima Nova';
    font-weight: 800;
    font-size: 82px;
    text-align: center;
    padding: 0 20px;
  }
}

@media (max-width: 750px) {
  .landing-banner {
    &__title {
      font-size: 52px;
    }
  }
}