/** Proxima Nova **/

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 300;
  src: url('./Proxima Nova Thin.eot');
  src:
    local('Proxima Nova'),
    url('./Proxima Nova Thin.woff') format('woff'),
    url('./Proxima Nova Thin.woff2') format('woff2'),
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  src: url('./Proxima Nova Alt Regular.eot');
  src:
    local('Proxima Nova'),
    local('Proxima Nova'),
    url('./Proxima Nova Alt Regular.woff') format('woff')
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 800;
  src:
    local('Proxima Nova'),
    url('./Proxima Nova Alt Black.woff') format('woff'),
    url('./Proxima Nova Alt Black.woff2') format('woff2')
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  src: url('./Proxima Nova Alt Bold.eot');
  src:
    local('Proxima Nova'),
    local('Proxima Nova Alt Bold'),
    url('./Proxima Nova Alt Bold.woff') format('woff'),
    url('./Proxima Nova Alt Bold.woff2') format('woff2')
}


