.landing-steps {
  max-width: 1240px;
  padding: 80px 20px;
  margin: 0 auto;
  font-family: "Proxima Nova";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
  width: 100%;

  &__title {
    font-size: 42px;
  }

  &__text {
    p {
      margin-bottom: 25px;
      font-size: 22px;
    }
  }

  &__img {
    display: flex;
    justify-content: center;

    img {
      align-self: flex-start;
      max-width: 100%;
    }
  }
}

.flex-center {
  justify-content: flex-center;
}


@media (max-width: 800px) {
  .landing-steps {
    padding: 30px 20px;
  }

  .step {
    align-items: center;
    flex-direction: column;
    width: 100%;

    &__content {
      width: 100%;
    }
    &__img {
      width: 50%;
      align-self: flex-end;
    }
    &:nth-child(2) {
      flex-direction: column-reverse;
    }
  }
}
