@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova', Oxygen, sans-serif;
}