.main-header {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  @media (max-width: 750px) {
    flex-direction: column;
    height: 200px;
    padding: 20px 0;
  }
}