.schedule-component-container {
  font-family: Oxygen;
  margin-right: 120px;
  flex-grow: 1;

  &:last-child {
    margin-right: 0;
  }

  .title-container {
    display: flex;
    align-items: center;

    .title {
      font-size: 28px;
      font-weight: bold;
    }

    .date-picker {
      margin-left: 60px;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th {
    font-size: 14px;
    color: #666666;
    text-align: left;
    font-weight: normal;
  }

  td {
    font-size: 18px;
    padding: 17px 0;
  }

  tr {
    border-bottom: 1px solid #d4d4d4;
  }

  tr:first-child, tr:last-child {
    border-bottom: 0;
  }

  .date {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
  }
  .number {
    font-size: 28px;
  }

  .percent {
    color: #747474;
  }

  .view-all {
    font-size: 16px;
    color: #3283EE;
    font-weight: bold;
  }
}