.performed-artists-component-container{
  font-family: Oxygen;

  .title{
    font-weight: bold;
    font-size: 28px;
  }

  .artists-container{
    margin-top: 24px;
    margin-bottom: 70px;
    max-width: 1095px;
    display: flex;

    .artist-container{
      margin-right: 43px;
      width: 100%;

      .image{
        background-size: cover;
        margin-bottom: 12px;
        height: 219px;
        width: 100%;
        //flex-grow: 1;
      }

      .name{
        font-size: 18px;
        font-weight: bold;
      }

      &:last-child {
        margin-right: 0;
      }
    }

  }
}