.Venue-info-wrapper {
  max-width: 1240px;
  padding: 0 20px;
  margin: 65px auto;
  display: flex;
  align-items: flex-start;
  font-family: 'Oxygen';
}

.Venue-image {
  width: 225px;
  height: 225px;
  flex-shrink: 0;
  margin-right: 30px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.Venue-info {
  display: flex;
  margin-top: 45px;
}

.info-text {
  max-width: 700px;
  margin-right: 20px;
}

.Venue-list {
  list-style: none;
  padding: 0;
  word-wrap: break-word;
  &__item {
    display: inline-block;
    margin-right: 15px;
    word-wrap: break-word;
  }
}

.table {
  margin-top: 60px;
  max-width: 640px;
  table-layout: fixed;

  th {
    text-align: left;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: normal;
  }

  td {
    width: calc(100%/4);
    vertical-align: top;
    font-size: 18px;
    font-weight: bold;
  }
}

.address-links {
  display: flex;
  margin: 10px 0;

  a {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.Venue-socials {
  margin-top: 50px;
  list-style: none;
  padding: 0;

  &__item {
    display: inline-block;
    margin-right: 10px;
  }

  &__item:last-child {
    margin-right: 0;
  }
}

.Venue-title, .label {
  margin: 0;
}

.Venue-title {
  font-family: 'Oxygen';
  font-size: 72px;
  font-weight: bold;
}

.label {
  font-size: 20px;
  font-family: 'Oxygen';
  text-transform: uppercase;
  color: #949494;
}

.cta {
  font-size: 16px;
  text-transform: capitalize;
  color: #3283EE;
}

@media (max-width: 750px) {
  .Venue-info-wrapper {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
  }
  .Venue-image {
    margin-right: 0;
  }

  .Venue-info {
    flex-direction: column;
    margin-top: 20px;
  }

  .Venue-socials {
    margin-top: 20px;
  }

  .table {
    margin-top: 30px;
  }
}