.landing-nav {
  &__item {
    margin-right: 35px;
    text-decoration: none;
    color: #575757;
    font-size: 20px;
    font-family: Oxygen;
    font-weight: bold;
  }
  &__item:last-child {
    margin-right: 0;
  }
}