.Form-container {
  box-sizing: border-box;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto 150px auto;
  font-family: 'Proxima Nova';
  font-weight: bold;
  position: relative;

  
  input {
    position: relative;
    padding: 92px 64px 50px 64px;
    font-size: 60px;
    width: 100%;
    outline: none;
    border: 5px solid transparent;
    &::-webkit-input-placeholder {
      font-size: 60px;
      font-family: 'Proxima Nova';
      font-weight: bold;
    }
    &:focus {
      border: 5px solid blueviolet;
    }
  }

  p {
    position: absolute;
    transform: translate(70px, 20px);
    z-index: 2;
    font-size: 24px;
  }

  .result {
    position: relative;
    background-color: blueviolet;
    width: 90%;
    list-style: none;
    margin: 0 auto;
    padding: 20px 30px;
    position: absolute; 
    left: 50%;
    transform: translate(-50%, -20%);
    &:empty {
      padding: 0;
    }

    li {
      font-size: 24px;
      color: #fff;
      line-height: 1.75;
    }
  }
}

@media (max-width: 800px) {
  .Form-container {    
    input {
      padding: 92px 64px 50px 64px;
      font-size: 42px;
      width: 100%;
      outline: none;
      border: 5px solid transparent;
      &::-webkit-input-placeholder {
        font-size: 42px;
      }
      &:focus {
        border: 5px solid blueviolet;
      }
    }

    p {
      position: absolute;
      transform: translate(70px, 20px);
      z-index: 2;
      font-size: 24px;
    }

    .result {
      position: relative;
      background-color: blueviolet;
      width: 90%;
      list-style: none;
      margin: 0 auto;
      padding: 20px 30px;
      position: absolute; 
      left: 50%;
      transform: translate(-50%, -20%);
      &:empty {
        padding: 0;
      }

      li {
        font-size: 24px;
        color: #fff;
        line-height: 1.75;
      }
    }
  }
}

